.box{
    height: 430px;
    background-color: white;
    display: flex;
}
.btn
{
     width: 100%;
     background-color: #ff9f43;
     border: #ff9f43;
     height: 42px;
     transition: 1s ease;
}
.btn:hover{
    background-color: white;
    color: #ff9f43;
    border:1px solid #ff9f43;
}
.form-control, .form-select {
  border-width:2px ;
}
.form-control:focus, .form-select:valid:focus {
  box-shadow: none;
  border: 2px solid #ff9f43;
}
.form-check, .form-check{
  background-color: white;

}

.form-check-input:focus, .form-check-valid:focus {
  background-color: #ff9f43;
  border: none;
  box-shadow:none;
  color: white;
}
